@import "../../mixins/border";
@import "../../mixins/spacing";
@import "../../settings/baseline";

$image-block-spacing: $baseline-unit-extra-small !default;
$image-inline-spacing: $image-block-spacing !default;

.image {
  @include block-spacing($start: $baseline-unit-medium, $end: $baseline-unit-medium);
  @include border();
  @include padding($image-block-spacing $image-inline-spacing);
  display: block;

  .figure__asset & {
    @include block-spacing($start: 0, $end: $baseline-unit-extra-small);
  }
}
