@at-root {
  :root {
    --color-primary-normal: rgb(2, 136, 209);
    --color-primary-light: rgb(179, 229, 252);
    --color-primary-dark: rgb(2, 119, 189);
    --color-text-normal: rgb(33, 33, 33);
    --color-text-reverse: rgb(255, 255, 255);
    --color-text-secondary: rgb(136, 136, 136);
    --color-text-secondary__reverse: rgb(158, 158, 158);
    --color-text-placeholder: rgb(189, 189, 189);
    --color-text-dividers: rgb(224, 224, 224);
    --color-text-dividers__reverse: rgb(97, 97, 97);
    --color-text-ui_background: rgb(255, 255, 255);
    --color-text-ui_background_hue: rgb(245, 245, 245);
    --color-text-ui_code: rgb(247, 247, 247);
    --color-text-ui_background__reverse: rgb(33, 33, 33);
    --color-text-ui_background_hue__reverse: rgb(51, 51, 51);
    --color-background: rgb(255, 255, 255);
    --color-information: rgb(2, 136, 209);
    --color-success: rgb(98, 159, 67);
    --color-success_dark: rgb(86, 144, 55);
    --color-attention: rgb(207, 12, 78);
    --color-warning: rgb(230, 81, 0);
  }
}
