{%- from 'atoms-attributes' import attributes -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['section']) }) -%}

<section {{- attributes(attributes|default({})) }}>

  {%- with heading|default({}) only -%}

    {%- block heading -%}

      {%- if text is defined -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['section__heading']) }) -%}
        {%- set level = level|default(2) -%}

        {%- include 'atoms-heading' -%}

      {%- endif -%}

    {%- endblock -%}

  {%- endwith -%}

  {%- with {content: content} only -%}

    {%- block content -%}

      {%- from 'atoms-attributes' import attributes -%}
      {%- from 'atoms-includes' import include -%}

      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['section__body']) }) -%}

      <div {{- attributes(attributes|default({})) }}>
        {{- include(content) -}}
      </div>

    {%- endblock -%}

  {%- endwith -%}

</section>
