{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['page-grid']) }) -%}

<div {%- include 'atoms-attributes' %}>

  {%- with {items: startItems|default([])} only -%}
    {%- block start -%}

      {%- if items|length -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default(['page-grid__item', 'page-grid__item--start'])}) -%}

        <div {%- include 'atoms-attributes' %}>

          {%- for item in items -%}

            {%- with item only -%}
              {%- block startItem -%}

                {%- include template with arguments only -%}

              {%- endblock startItem -%}
            {%- endwith -%}

          {%- endfor -%}

        </div>

      {%- endif -%}

    {%- endblock start -%}
  {%- endwith -%}

  {%- with {items: mainItems} only -%}
    {%- block main -%}

      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['page-grid__item', 'page-grid__item--main', 'single-column-grid']), role: 'main'}) -%}

      <main {%- include 'atoms-attributes' %}>

        {%- for item in items -%}

          {%- with item only -%}
            {%- block mainItem -%}

              {%- with arguments|default({})|merge({_template: template|default('templates-single-column-grid')}) only -%}

                {%- set attributes = attributes|default({})|merge({class: attributes.class|default(['single-column-grid__item', 'single-column-grid__item--full'])}) -%}

                {%- include _template -%}

              {%- endwith -%}

            {%- endblock mainItem -%}
          {%- endwith -%}

        {%- endfor -%}

      </main>

    {%- endblock main -%}
  {%- endwith -%}

  {%- with {items: endItems|default([])} only -%}
    {%- block end -%}

      {%- if items|length -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default(['page-grid__item', 'page-grid__item--end'])}) -%}

        <div {%- include 'atoms-attributes' %}>

          {%- for item in items -%}

            {%- with item only -%}
              {%- block endItem -%}

                {%- include template with arguments only -%}

              {%- endblock endItem -%}
            {%- endwith -%}

          {%- endfor -%}

        </div>

      {%- endif -%}

    {%- endblock end -%}
  {%- endwith -%}

</div>
