@import "../variables/color";
@import "../variables/custom-properties--color";
@import "../functions/colors";
@import "../mixins/validation";

@mixin _set-color-based-property($property, $color, $map) {
  $value: get-color-value-from-map($color, $map);

  @if type_of($value) == "color" {
    #{$property}: $value;
    @if map_has_key($map, $color) {
      #{$property}: var(--color-#{$color});
    }
  } @else {
    @include _error("Trying to set a non-color value to property `#{$property}`");
  }

}

@mixin set-color($designation, $map: $color) {
  @include _set-color-based-property(color, $designation, $map);
}

@mixin set-background-color($designation, $map: $color) {
  @include _set-color-based-property(background-color, $designation, $map);
}
