@import "../variables/breakpoint";
@import "../variables/font";
@import "../functions/breakpoints";
@import "types";

$mq-base-font-size: get-font-size(size-base);

$mq-breakpoints: (
  x-small: get-breakpoint(x_small),
  small: get-breakpoint(small),
  medium: get-breakpoint(medium),
  wide: get-breakpoint(wide),
  x-wide: get-breakpoint(x_wide),
);

@import "../vendor/sass-mq/_mq";
