@import "../functions/sizes";
@import "../variables/baselinegrid";
@import "../variables/color";
@import "../variables/content_header";
@import "../variables/font";
@import "spacing";

@mixin font-size($size_in_px) {
  font-size: #{$size_in_px}px;
  font-size: get-rem-from-px($size_in_px) * 1rem;
}

@mixin set-font-size-and-vertical-height($font-size-in-px, $vertical-height-in-px: $baselinegrid-space-small-in-px) {
  @include font-size($font-size-in-px);
  line-height: #{($vertical-height-in-px / $font-size-in-px)};
}

@mixin _heading-base-typography() {
  font-family: $font-secondary;
  font-weight: 600;
}

@mixin h1-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h1_in_px, 48);
}

@mixin h2-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h2_in_px, 30);
}

@mixin h3-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h3_in_px);
}

@mixin h4-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h4_in_px);
}

@mixin h5-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h5_in_px);
}

@mixin h6-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h6_in_px);
}

@mixin body-typography() {
  font-family: $font-primary;
  @include set-font-size-and-vertical-height($font-size-base-in-px);
  font-weight: normal;
}

@mixin small-typography() {
  font-family: $font-primary;
  font-style: normal;
  @include set-font-size-and-vertical-height(11);
}

@mixin body-para {
  @include body-typography();
  @include body-spacing();
}

@mixin inline-image {
  margin-bottom: 0.1em;
  max-height: 1em;
  vertical-align: middle;
}

@mixin title-font-size($title-font-size) {
  $title-font-sizes: (
    "xx-small": $content_header-title-size-xx_small,
    "x-small": $content_header-title-size-x_small,
    "small": $content_header-title-size-small,
    "medium": $content_header-title-size-medium,
    "large": $content_header-title-size-large,
    "x-large": $content_header-title-size-x_large,
    "xx-large": $content_header-title-size-x_large,
    "xxx-large": $content_header-title-size-xxx_large,
  );
  @include font-size(map_get($title-font-sizes, $title-font-size));
}

@mixin header-title-size($title-length: "medium") {

  @if $title-length == "xx-short" {

    @include title-font-size("xx-large");

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-small)}em) {
      @include title-font-size("xxx-large");
    }

  } @else if $title-length == "x-short" {

    @include title-font-size("x-large");

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-medium)}em) {
      @include title-font-size("xx-large");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-wide)}em) {
      @include title-font-size("xxx-large");
    }

  } @else if $title-length == "short" {

    @include title-font-size("medium");

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-small)}em) {
      @include title-font-size("large");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-medium)}em) {
      @include title-font-size("x-large");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-wide)}em) {
      @include title-font-size("xx-large");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-x-wide)}em) {
      @include title-font-size("xxx-large");
    }

  } @else if $title-length == "medium" {
    @include title-font-size("small");

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-small)}em) {
      @include title-font-size("medium");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-medium)}em) {
      @include title-font-size("large");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-wide)}em) {
      @include title-font-size("x-large");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-x-wide)}em) {
      @include title-font-size("xxx-large");
    }

  } @else if $title-length == "long" {

    @include title-font-size("x-small");

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-small)}em) {
      @include title-font-size("small");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-medium)}em) {
      @include title-font-size("large");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-x-wide)}em) {
      @include title-font-size("x-large");
    }

  } @else if $title-length == "x-long" {

    @include title-font-size("x-small");

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-medium)}em) {
      @include title-font-size("small");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-wide)}em) {
      @include title-font-size("small");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-x-wide)}em) {
      @include title-font-size("medium");
    }

  } @else if $title-length == "xx-long" {

    @include title-font-size("xx-small");

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-small)}em) {
      @include title-font-size("x-small");
    }

    @media only all and (min-width: #{get-rem-from-px($breakpoint-site-wide)}em) {
      @include title-font-size("small");
    }

  }
}
