@import "../functions/maps";
@import "../mixins/types";
@import "../variables/baselinegrid";
@import "../variables/color";
@import "../variables/font";
@import "spacing";

$_default-font-map: $font;

@mixin font-size($size, $map: $_default-font-map) {

  $font-size: $size;
  @if map_has_key($map, $size) {
    $font-size: map_get($map, $size);
  }

  @if is-a-px-number($font-size) or is-a-rem-number($font-size) {
    @include rem(font-size, $font-size);
    @if map_has_key($map, $size) {
      font-size: var(--font-#{$size});
    }

  } @else {
    @include _error("Font size must be set using a 'px'-suffixed number or a 'rem'-suffixed number.");
  }

}

@mixin font-family($designation, $map: $_default-font-map) {
  $font-family: get-value-from-map($map, $designation);
  @if $font-family == "[Not found]" {
    @include _error("Font family key `#{$designation}` not found in map");
  } @else {
    font-family: unquote($font-family);
    font-family: var(--font-#{$designation});
  }
}

@mixin set-font-size-and-vertical-height($font-size, $vertical-height: $baselinegrid-space-small) {
  @include font-size(font-size, $font-size);
  line-height: $vertical-height / $font-size;
}

@mixin _heading-base-typography() {
  @include font-family(secondary);
  font-weight: 600;
}

@mixin h1-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height(size-h1, 48px);
}

@mixin h2-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height(size-h2, 30px);
}

@mixin h3-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height(size-h3);
}

@mixin h4-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height(size-h4);
}

@mixin h5-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height(size-h5);
}

@mixin h6-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height(size-h6);
}

@mixin body-typography() {
  @include font-family(primary);
  @include set-font-size-and-vertical-height(size-base);
  font-weight: normal;
}

@mixin small-typography() {
  @include font-family(primary);
  font-style: normal;
  @include set-font-size-and-vertical-height(11px);
}

@mixin body-para {
  @include body-typography();
  @include body-spacing();
}

@mixin inline-image {
  margin-bottom: 0.1em;
  max-height: 1em;
  vertical-align: middle;
}

@mixin _label-typography($color, $uppercase: true) {
  color: $color;
  @include font-family(secondary);
  font-weight: normal;
  @include set-font-size-and-vertical-height(size-label);
  letter-spacing: #{letterspacing-label};
  @if $uppercase {
    text-transform: uppercase;
  }
}

@mixin label-content-typography($color: $color-text-secondary, $uppercase: true) {
  @include _label-typography($color, $uppercase);
}

@mixin label-subject-typography() {
  @include _label-typography($color-primary-normal);
}
