{%- import 'atoms-html' as html -%}

{%- set type = type|default('info') -%}
{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['info-bar', 'info-bar--' ~ type]) }) -%}

{%- set infoBar = infoBar|default({})|merge({content: content|default([]), html: html}) -%}
{%- if infoBar.content|length -%}
<div {{- html.attributes(attributes) }}>
  {%- with infoBar only -%}
    {%- block infoBar -%}
       <span class="info-bar__text">{%- for item in content -%}{{ html.content(item) }}{%- endfor -%}</span>
    {%- endblock -%}
  {%- endwith -%}
</div>
{%- endif -%}

