{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['info-bar', 'info-bar--' ~ type|default('info')]) }) -%}

<div {{- html.attributes(attributes) }}>

  <div class="info-bar__content">

    {%- if imagePath is defined -%}
      {# no alt as decoration, not background image as background-position-inline not implemented anywhere #}
      <img src="{{ imagePath }}" class="info-bar__image" alt="">
    {%- endif -%}

    <span>{{- html.content(content) -}}</span>

  </div>

</div>
