{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-tag-group']) }) -%}

<section {%- include('atoms-attributes') -%}>

  {%- block section -%}

    {%- with title only -%}
      {%- block title -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-tag-group__title']) }) -%}
        {%- include 'atoms-heading' with {level: 4} -%}

      {%- endblock title -%}
    {%- endwith -%}

    {%- with list only -%}
      {%- block list %}

        {%- include('molecules-tag-list') -%}

      {%- endblock list -%}
    {%- endwith -%}

  {%- endblock section -%}

</section>
