{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['inline-list']) }) -%}

<ol {{- html.attributes(attributes) -}}>
  {%- for item in items -%}

    {%- with item.content|merge({html: html}) only -%}
      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['inline-list__item']) }) -%}
      <li {{- html.attributes(attributes) -}}>
        {%- with link only -%}
          {%- block link -%}
            {%- include 'atoms-link' -%}
          {%- endblock link -%}
        {%- endwith -%}
      </li>
    {%- endwith -%}
  {%- endfor -%}
</ol>
