{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['grid-single-column']) }) -%}

<div {%- include 'atoms-attributes' %}>

  {%- with {content: content|default([])} only -%}
    {%- block content -%}

      {%- if content|length -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['grid-item-span-main']) }) -%}

        <div {%- include 'atoms-attributes' %}>
          {%- include 'atoms-text' with {nodes: content} -%}
        </div>

      {%- endif -%}

    {%- endblock content -%}
  {%- endwith -%}

</div>
