@import "logical-properties";
@import "../settings/colors";

$border-color: $color-text-dividers !default;
$border-style: solid !default;
$border-width: 1px !default;

@mixin border($dimension: null) {

  @if index((inline, inline-start, inline-end, block, block-start, block-end), $dimension) {
    @include logical-property(border, $dimension, ($border-width $border-style $border-color,), $to-rem: false);
  } @else if $dimension == null {
    border: $border-width $border-style $border-color;
  } @else if index((top, bottom, left, right), $dimension) {
    @include _error("'#{$dimension}' is a physical dimension, use its logical equivilant");
  } @else {
    @include _error("Unknown dimension '#{$dimension}'");
  }

}
