@import "../settings/baseline";
@import "../settings/layout";

$breakpoints: (
  small: $breakpoint-small,
  medium: $breakpoint-medium,
  wide: $breakpoint-wide,
  extra-wide: $breakpoint-extra-wide,
) !default;

$mq-base-font-size: $scale-base;
$mq-breakpoints: $breakpoints;

@import "../vendor/sass-mq/mq";
