$truncate-character: ellipsis !default;

@mixin truncate-with-ellipsis() {
  overflow: hidden;
  text-overflow: $truncate-character;
  white-space: nowrap;

  @if $truncate-character == ellipsis {
    &:lang(zh-Hant-HK) {
      text-overflow: "⋯";
    }
  }
}
