@import "spacing";

@mixin inset($sizes, $dimension: "") {
  @include _spacing($sizes, inset, $dimension);
}

@mixin float($dimension: "") {

  @if $dimension == inline-start {
    html[dir="ltr"] &:not([dir]),
    &[dir="ltr"] {
      float: left; // stylelint-disable-line csstools/use-logical
    }

    html[dir="rtl"] &:not([dir]),
    &[dir="rtl"] {
      float: right; // stylelint-disable-line csstools/use-logical
    }

    float: inline-start;

  } @else if $dimension == inline-end {
    html[dir="ltr"] &:not([dir]),
    &[dir="ltr"] {
      float: right; // stylelint-disable-line csstools/use-logical
    }

    html[dir="rtl"] &:not([dir]),
    &[dir="rtl"] {
      float: left; // stylelint-disable-line csstools/use-logical
    }

    float: inline-end;

  } @else if index((inherit,initial,unset,none), $dimension) {
    float: $dimension;
  } @else if length($dimension) > 1 {
    @include _error("has more than one dimension");
  } @else if $dimension == "" {
    @include _error("has no dimension");
  } @else if index((left,right), $dimension) {
    @include _error("'#{$dimension}' is a physical dimension, use its logical equivilant");
  } @else {
    @include _error("has unknown dimension '#{$dimension}'");
  }

}
