@import "scale";
@import "spacing";
@import "types";
@import "utilities";
@import "../settings/baseline";
@import "../settings/colors";
@import "../settings/typography";

@mixin set-font-size-and-line-height($font-size, $block-size: $text-block-size) {
  @include rem(font-size, $font-size);
  line-height: $block-size / $font-size;
}

@mixin _heading-typography($font-size, $block-size) {
  font-family: $headings-font;
  font-weight: $headings-weight;
  @include set-font-size-and-line-height($font-size, $block-size);
}

@mixin h1-typography() {
  @include _heading-typography($h1-size, $h1-block-size);
}

@mixin h2-typography() {
  @include _heading-typography($h2-size, $h2-block-size);
}

@mixin h3-typography() {
  @include _heading-typography($h3-size, $h3-block-size);
}

@mixin h4-typography() {
  @include _heading-typography($h4-size, $h4-block-size);
}

@mixin h5-typography() {
  @include _heading-typography($h5-size, $h5-block-size);
}

@mixin h6-typography() {
  @include _heading-typography($h6-size, $h6-block-size);
}

@mixin body-typography() {
  font-family: $text-font;
  font-weight: $text-weight;
  @include set-font-size-and-line-height($text-size, $text-block-size);
}

@mixin inline-image {
  @include margin(0.1em, block-end);
  @include max-block-size(1em);
  vertical-align: middle;
}

@mixin _base-font-variant-position($position) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  @supports (font-variant-position: #{$position}) {
    font-size: inherit;
    font-variant-position: $position;
    position: static;
  }
}

@mixin font-variant-position($position) {
  @if $position == sub {
    @include _base_font-variant-position($position);
    bottom: -0.25em; // stylelint-disable-line csstools/use-logical
  } @else if $position == super {
    @include _base_font-variant-position($position);
    top: -0.5em; // stylelint-disable-line csstools/use-logical
  } @else {
    @include _error("Unknown position '#{$position}'");
  }
}

@mixin covert-link($hover-color: $color-primary-dark) {
  @include inherit-all($ensure: color text-decoration) {
    cursor: pointer;
    display: inline;
  }

  &:hover {
    color: $hover-color;
  }
}
