@import "../mixins/logical-properties";
@import "../mixins/media-query";
@import "../settings/layout";

:root {
  --GRID-COLUMN-GAP: #{$grid-column-gap};
  --GRID-EDGE-SPACE: #{$grid-edge-space-medium};
  --GRID-COLUMN-WIDTH: calc((100% - (var(--GRID-EDGE-SPACE) * 2) - (var(--GRID-COLUMN-GAP) * #{$grid-main-column-count - 1})) / #{$grid-main-column-count});

  @include mq($from: medium) {
    --GRID-EDGE-SPACE: #{$grid-edge-space-large};
  }

  @include mq($from: extra-wide) {
    --GRID-COLUMN-GAP: #{($grid-max-width * $grid-column-gap) / 100%};
    --GRID-COLUMN-WIDTH: calc((#{$grid-max-width} - (var(--GRID-COLUMN-GAP) * #{$grid-main-column-count - 1})) / #{$grid-main-column-count});
  }

  @include logical-property(min, inline-size, $grid-min-width, $to-rem: false);
}
