@import "../../mixins/border";
@import "../../mixins/grid";
@import "../../settings/layout";

$page-grid-start-divider: true !default;
$page-grid-end-divider: true !default;

.page-grid {
  @include base-grid($grid-max_width);
  grid-template-areas:
    "start"
    "main"
    "end";
}

.page-grid__start {
  grid-row: start;
  @if $page-grid-start-divider {
    @include border(block-end);
  }
}

.page-grid__main {
  grid-row: main;
}

.page-grid__end {
  grid-row: end;
  @if $page-grid-end-divider {
    @include border(block-start);
  }
}
