{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header__author_info_list']) }) -%}

<ol {{- html.attributes(attributes) -}}>
  {%- for content in items -%}

    {%- with content|merge({html: html}) only -%}
      {%- set attributes = content.attributes|default({})|merge({class: content.attributes.class|default([])|merge(['content-header__author_info_item']) }) -%}
      <li {{- html.attributes(attributes) -}}>
        {%- with content.link|default({}) only -%}
          {%- block content -%}
            {%- include 'atoms-link' -%}
          {%- endblock content -%}
        {%- endwith -%}
      </li>
    {%- endwith -%}
  {%- endfor -%}
</ol>

