@import "../test";
@import "../../../source/sass/mixins/captions";

@include describe("@mixin caption-typography") {

  @include it("generates correct typography for captions") {

    @include assert() {

      @include output {
        @include caption-typography();
      }

      @include expect {
        font-family: Noto Sans, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-size: 0.8125rem;
        line-height: 1.84615;
      }
    }
  }

}
