@import "../../mixins/types";
@import "../../variables/baselinegrid";
@import "../../variables/color";
@import "../../variables/font";
@import "../../mixins/spacing";

.article__type {
  @include small-spacing();
  @include remove-bullets-unordered-list();

  a {
    @include small-typography();
    @include _label-typography($color-text-secondary, $uppercase: true);
    color: $color-text-secondary;
    text-transform: uppercase;

    &:hover {
      color: $color-primary-normal;
    }
  }
}
