@import "../../mixins/types";
@import "../../variables/baselinegrid";
@import "../../variables/color";
@import "../../variables/font";
@import "../../mixins/spacing";

.meta__type {
  @include body-spacing();
  color: $color-text-secondary;
  font-weight: normal;
  font-size: 0.6875rem;
  line-height: 2.18182;
  letter-spacing: 0.5px;

  a {
    text-transform: uppercase;
  }
}
