.item-tags {
  @include blg-spacing("block-start", "medium", "padding");
  @include rem(font-size, $font-size-caption);
  font-family: $font-secondary;
  text-align: center;

  @include mq($from: medium) {
    .item-tags__group {
      text-align: left;
    }
  }
}

// Need the extra specificity here to override
.item-tags__link {
  border-bottom: none;
  color: $color-primary-normal;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }

}

.item-tags__group_title {
  @include label-content-typeg($color-text-secondary);
  padding-bottom: 0;
  padding-top: 0;
}

.item-tags__link_list {
  list-style: none;
  margin: 0;
  @include blg-spacing("block-end", "small", "margin");
  padding: 0;
}

.item-tags__link_list_item {
  display: inline;
  @include label-subject-typeg();
  margin: 0;
  padding: 0;
  &:after {
    content: ", ";
  }
}

.item-tags__link_list_item:last-child {
  &:after {
    content: "";
  }
}

.item-tags__group:last-child .item-tags__link_list {
  margin-bottom: 0;
}
