@import "../../mixins/sizes";
@import "../../mixins/typography";

.content-meta {
  @include remove-bullets-unordered-list();
  @include blg-spacing("block-end", "small", "margin");
}

.content-meta__item {
  display: inline;
  @include label-content-typography($color: $color-text-secondary);

  &:after {
    @include margin(0 5px);
    content: " \00B7  ";
    display: inline-block;
    font-size: 150%;
    position: relative;
    top: 2px; // stylelint-disable-line csstools/use-logical
  }

  &:last-child:after {
    content: "";
  }
}

.content-meta__link {
  @include covert-link();
}
