@import "../../mixins/sizes";
@import "../../mixins/typography";

.item-detail-tag {
  list-style: none;
  @include blg-spacing("block-end", "small", "margin");
  @include padding(0, "inline-start");
}

.item-detail-tag__item {
  display: inline;
  @include label-content-typography($color: $color-text-secondary);

  &:after {
    content: " ";
  }

  &:last-child:after {
    content: "";
  }
}

.item-detail-tag__link {
  text-decoration: inherit;
  @include label-content-typography($color: $color-text-secondary);

  &:hover {
    color: $color-primary-dark;
  }
}
