@import "../../mixins/typography";

.item-tag-group__title {
  @include label-content-typography();
  @include padding(0, "block");
}

.item-tag-group__list {
  list-style: none;
  @include blg-spacing("block-end", "small", "margin");
  @include nospace("inline-start");
  .item-tags__group:last-child & {
    @include margin(0, "block-end");
  }
}

.item-tag-group__list_item {
  display: inline;
  @include label-subject-typography();

  &:after {
    content: ", ";
  }

  &:lang(ar):after {
    content: "، ";
  }

  &:lang(ja):after {
    content: "、";
  }

  &:last-child:after {
    content: "";
  }
}

.item-tag-group__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
