@import "../../mixins/media-query";
@import "../../mixins/spacing";
@import "../../mixins/types";
@import "../../mixins/typography";
@import "../../variables/color";

.item-tags {
  @include blg-spacing("block-start", "medium", "padding");
  text-align: center;

  @include mq($from: medium) {
    text-align: initial;
  }
}

.item-tags__group_title {
  @include label-content-typography();
  @include padding(0, "block");
}

.item-tags__list {
  list-style: none;
  @include blg-spacing("block-end", "small", "margin");
  @include nospace("inline-start");
  .item-tags__group:last-child & {
    @include margin(0, "block-end");
  }
}

.item-tags__list_item {
  display: inline;
  @include label-subject-typography();

  &:after {
    content: ", ";
  }

  &:lang(ar):after {
    content: "، ";
  }

  &:lang(ja):after {
    content: "、";
  }

  &:last-child:after {
    content: "";
  }
}

.item-tags__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
