@import "../../mixins/sizes";
@import "../../mixins/typography";

.item-tags {
  @include blg-spacing("block-end", "small", "margin");
}

.item-tag__title {
  @include label-content-typography();
  @include padding(0, "block");
}

.item-tag {
  list-style: none;
  @include blg-spacing("block-end", "small", "margin");
  @include label-tag-typography();
  @include padding(0, "inline-start");
}

.item-tag__single-line {
  @include truncate-with-ellipsis();
}

.item-tag__item {
  display: inline;
  @include label-tag-typography();

  &:after {
    content: ", ";
  }

  &:lang(ar):after {
    content: "، ";
  }

  &:lang(ja):after {
    content: "、";
  }

  &:last-child:after {
    content: "";
  }
}

.item-tag__link {
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
