@import "../../mixins/sizes";
@import "../../mixins/typography";
@import "../../variables/baselinegrid";

.tag-list {
  @include margin($baselinegrid-space-small, "block-end");
}

.tag-list__title {
  @include label-content-typography();
  @include margin(0, "block");
}

.tag-list__list {
  @include hidden-list();
  @include label-tag-typography();
}

.tag-list__list--single-line {
  @include truncate-with-ellipsis();
}

.tag-list__item {
  display: inline;
  @include label-tag-typography();

  &:after {
    content: ", ";
  }

  &:lang(ar):after {
    content: "، ";
  }

  &:lang(ja):after {
    content: "、";
  }

  &:last-child:after {
    content: "";
  }
}

.tag-list__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
