@import "../../mixins/sizes";
@import "../../mixins/typography";

.tags {
  @include blg-spacing("block-end", "small", "margin");
}

.tags-list__title {
  @include label-content-typography();
  @include padding(0, "block");
}

.tags-list {
  list-style: none;
  @include blg-spacing("block-end", "small", "margin");
  @include label-tag-typography();
  @include padding(0, "inline-start");
}

.tags-list__single-line {
  @include truncate-with-ellipsis();
}

.tags-list__article-type {
  span,
  a {
    @include label-content-typography($color: $color-text-secondary);
  }
}

.tags-list__item {
  display: inline;
  @include label-tag-typography();

  &:after {
    content: ", ";
  }

  &:lang(ar):after {
    content: "، ";
  }

  &:lang(ja):after {
    content: "、";
  }

  &:last-child:after {
    content: "";
  }
}

.tags-list__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
