{%- with list only -%}
  {%- block list -%}

    {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-detail-tag']) }) -%}

    <ul {%- include('atoms-attributes') -%}>

      {%- for item in items -%}

        {%- with item only -%}
          {%- block item -%}

            {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-detail-tag__item']) }) -%}

            <li {%- include('atoms-attributes') -%}>

              {%- with content only -%}
                {%- block content -%}

                  {%- if attributes.href is defined -%}
                    {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-detail-tag__link']) }) -%}
                  {%- endif -%}

                  {%- include 'atoms-link' -%}

                {%- endblock content -%}
              {%- endwith -%}

            </li>

          {%- endblock item -%}
        {%- endwith -%}

      {%- endfor -%}

    </ul>

  {%- endblock list -%}
{%- endwith -%}
