{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['page-grid-item']) }) -%}

<div {%- include 'atoms-attributes' %}>

    {% with content only %}

    {% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge([]) }) -%}

    {% if attributes.role is defined and attributes.role == 'main' %}
            {% set element = 'main' %}
        {% else %}
            {% set element = 'div' %}
        {% endif %}

        <{{ element }} {%- include 'atoms-attributes' %}>

            {% include 'organisms-content-header' with contentHeader only %}

            <div class="grid-tertiary-content">
                {%- include 'atoms-text' with {nodes: tertiaryContent} -%}
            </div>

            <div class="grid-primary-content">
                {%- include 'atoms-text' with {nodes: primaryContent} -%}
            </div>

            <div class="grid-secondary-content">
                {%- include 'atoms-text' with {nodes: secondaryContent} -%}
            </div>

        </{{ element }}>

    {% endwith %}

</div>
