{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['page-grid-item']) }) -%}

{% if content is defined %}

    <div {%- include 'atoms-attributes' %}>

        {% with content only %}

        {% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge([]) }) -%}

        {% if attributes.role is defined and attributes.role == 'main' %}
                {% set element = 'main' %}
            {% else %}
                {% set element = 'div' %}
            {% endif %}

            <{{ element }} {%- include 'atoms-attributes' %}>

                {% if contentHeader is defined %}

                    {% include 'organisms-content-header' with contentHeader only %}

                {% endif %}

                {% if tertiaryContent is defined %}

                    <div class="grid-tertiary-content">
                        {%- include 'atoms-text' with {nodes: tertiaryContent} -%}
                    </div>

                {% endif %}

                {% if primaryContent is defined %}

                    <div class="grid-primary-content">
                        {%- include 'atoms-text' with {nodes: primaryContent} -%}
                    </div>

                {% endif %}

                {% if secondaryContent is defined %}
                        <div class="grid-secondary-content">
                            {%- include 'atoms-text' with {nodes: secondaryContent} -%}
                        </div>
                {% endif %}

            </{{ element }}>

        {% endwith %}

    </div>

{% endif %}
