@import "../../functions/types";
@import "../../mixins/scale";
@import "../../mixins/decorations";
@import "../../mixins/media-query";
@import "../../mixins/spacing";
@import "../../variables/baselinegrid";
@import "../../variables/grid";

.content-header {
  text-align: center;
  @include padding($baselinegrid-space-medium, block-start);
  @include block-spacing($end: $baselinegrid-space-medium - $grid-divider_size);
  @include border(block-end);
  position: relative;
}

.content-header__title {
  @include block-spacing($end: $baselinegrid-space-small);

  &:last-child {
    @include block-spacing($end: $baselinegrid-space-medium);
  }
}

.content-header__title--xx-short {
  @include rem(font-size, scale(9));

  @include mq($from: small) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--x-short {
  @include rem(font-size, scale(8));

  @include mq($from: medium) {
    @include rem(font-size, scale(9));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--short {
  @include rem(font-size, scale(6));

  @include mq($from: small) {
    @include rem(font-size, scale(7));
  }

  @include mq($from: medium) {
    @include rem(font-size, scale(8));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(9));
  }

  @include mq($from: x-wide) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--medium {
  @include rem(font-size, scale(4));

  @include mq($from: small) {
    @include rem(font-size, scale(6));
  }

  @include mq($from: medium) {
    @include rem(font-size, scale(7));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(8));
  }

  @include mq($from: x-wide) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--long {
  @include rem(font-size, scale(2));

  @include mq($from: small) {
    @include rem(font-size, scale(4));
  }

  @include mq($from: medium) {
    @include rem(font-size, scale(7));
  }

  @include mq($from: x-wide) {
    @include rem(font-size, scale(8));
  }

}

.content-header__title--x-long {
  @include rem(font-size, scale(2));

  @include mq($from: medium) {
    @include rem(font-size, scale(4));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(4));
  }

  @include mq($from: x-wide) {
    @include rem(font-size, scale(6));
  }
}

.content-header__title--xx-long {
  @include rem(font-size, scale(1));

  @include mq($from: small) {
    @include rem(font-size, scale(2));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(4));
  }
}

.content-header__download_link {
  float: inline-end;
  position: absolute;
  inset-inline-end: 7%;
  inset-block-start: 24px;

  @include mq($from: x-wide) {
    right: 14%; // stylelint-disable-line csstools/use-logical
    top: 14px; // stylelint-disable-line csstools/use-logical

    @supports (inset-inline-end: 14%) or (inset-block-start: 14px) {
      inset-inline-end: 14%;
      inset-block-start: 14px;
    }

  }

  @include mq($from: x-wide) {
    right: 42px; // stylelint-disable-line csstools/use-logical

    @supports (inset-inline-end: 42px) {
      inset-inline-end: 42px;
    }
  }

  .content-header--image & {

    @include mq($from: x-wide) {
      inset-inline-end: 16px;
    }

  }

  .content-header--image & {
    inset-inline-end: 12px;
    inset-block-start: $baselinegrid-space-extra-small;
  }

}
