@import "../../functions/types";
@import "../../mixins/border";
@import "../../mixins/media-query";
@import "../../mixins/scale";
@import "../../mixins/spacing";
@import "../../settings/baseline";

$content-header-block-spacing: $baseline-unit-small !default;
$content-header-divider: true !default;

.content-header {
  text-align: center;
  @include block-spacing($end: $content-header-block-spacing);

  @if $content-header-divider == true {
    @include padding($content-header-block-spacing ($content-header-block-spacing - $baseline-unit-small - $border-width), block);
    @include border(block-end);
  } @else {
    @include padding($content-header-block-spacing, block);
  }

  :last-child {
    @include margin(0, block-end);
  }
}

.content-header__title {
  @include block-spacing($end: $baseline-unit-small);

  &:last-child {
    @include block-spacing($end: $baseline-unit-small);
  }
}

.content-header__title--xx-short {
  @include rem(font-size, scale(9));

  @include mq($from: small) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--x-short {
  @include rem(font-size, scale(8));

  @include mq($from: medium) {
    @include rem(font-size, scale(9));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--short {
  @include rem(font-size, scale(6));

  @include mq($from: small) {
    @include rem(font-size, scale(7));
  }

  @include mq($from: medium) {
    @include rem(font-size, scale(8));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(9));
  }

  @include mq($from: extra-wide) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--medium {
  @include rem(font-size, scale(4));

  @include mq($from: small) {
    @include rem(font-size, scale(6));
  }

  @include mq($from: medium) {
    @include rem(font-size, scale(7));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(8));
  }

  @include mq($from: extra-wide) {
    @include rem(font-size, scale(10));
  }
}

.content-header__title--long {
  @include rem(font-size, scale(2));

  @include mq($from: small) {
    @include rem(font-size, scale(4));
  }

  @include mq($from: medium) {
    @include rem(font-size, scale(7));
  }

  @include mq($from: extra-wide) {
    @include rem(font-size, scale(8));
  }

}

.content-header__title--x-long {
  @include rem(font-size, scale(2));

  @include mq($from: medium) {
    @include rem(font-size, scale(4));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(4));
  }

  @include mq($from: extra-wide) {
    @include rem(font-size, scale(6));
  }
}

.content-header__title--xx-long {
  @include rem(font-size, scale(1));

  @include mq($from: small) {
    @include rem(font-size, scale(2));
  }

  @include mq($from: wide) {
    @include rem(font-size, scale(4));
  }
}
