@import "../../mixins/border";
@import "../../mixins/media-query";
@import "../../mixins/spacing";
@import "../../settings/baseline";

$item-tags-block-spacing: $baseline-unit-medium !default;
$item-tags-divider: true !default;

.item-tags {
  @include block-spacing($end: $item-tags-block-spacing);
  @if $item-tags-divider {
    @include padding($baseline-unit-medium - $border-width, block-start);
    @include border(block-start);
  } @else {
    @include padding($baseline-unit-medium, block-start);
  }
  text-align: center;

  @include mq($from: medium) {
    text-align: initial;
  }
}
