@import "../../mixins/spacing";
@import "../../mixins/typography";
@import "../../settings/font";

.reference-list {
  @include list-style-none();
  counter-reset: reference-count;
  counter-set: reference-count 98;
}

.reference-list__item {
  counter-increment: reference-count;
  //@supports (display: grid) {
  //  display: grid;
  //  grid-template-columns: 3rem 1fr;
  //}

  &:before {
    content: counter(reference-count, decimal);
    // TODO: needs mixin
    text-align: end;
    @include margin($font-size, inline-end);
    font-weight: 600;
    font-family: $font-secondary;

    display: inline-block;
    vertical-align: top;
    width: 3rem;
  }

  & > *:last-child {
    display: inline-block;
    width: calc(100% - 3rem - #{$font-size});
  }

  &:lang(ar) {
    &:before {
      content: counter(reference-count, arabic-indic);
    }
  }

  &:lang(ja) {
    grid-template-columns: 4rem 1fr;
    &:before {
      content: counter(reference-count, cjk-decimal);
    }
  }

}
