@import "../../mixins/spacing";
@import "../../mixins/typography";
@import "../../settings/font";

.reference-list {
  @include list-style-none();
  counter-reset: reference-count;
}

.reference-list__item {
  counter-increment: reference-count;
  $_ordinal-inline-size: 3rem;

  &:before {
    content: counter(reference-count, decimal);
    display: inline-block;
    vertical-align: top;
    @include inline-size($_ordinal-inline-size);
    // TODO: needs mixin
    text-align: end;
    @include margin($font-size, inline-end);
    font-weight: 600;
    font-family: $font-secondary;

  }

  & > *:last-child {
    display: inline-block;
    width: calc(100% - #{$_ordinal-inline-size} - #{$font-size});
  }

  &:lang(ar) {
    &:before {
      content: counter(reference-count, arabic-indic);
    }
  }

  &:lang(ja) {
    grid-template-columns: 4rem 1fr;
    &:before {
      content: counter(reference-count, cjk-decimal);
    }
  }

}
