@import "../../mixins/grid";
@import "../../mixins/media-query";
@import "../../mixins/sizes";
@import "../../mixins/spacing";

.site-header {
  @include margin(0 auto);
  @include padding(8px 7px, block);
  @include max-inline-size($grid-max_width);
  display: flex;
  align-items: center;

  @include block-size(59px);

  @include mq($from: medium) {
    @include block-size(95px);
  }

}

.site-header__logo_link {

  // TODO: set logo image size at different breakpoints via config. Work out how to handle portrait / landscape.

  --logo-image-height: 24px;
  @include mq($from: medium) {
    --logo-image-height: 36px;
  }

  @include block-size(var(--logo-image-height));

  .site-header__image {
    box-sizing: content-box;
    @include max-block-size(44px);

    @include block-size(var(--logo-image-height));
    @include padding(18px, inline-start);

  }

}
