@import "../../mixins/media-query";
@import "../../mixins/sizes";
@import "../../mixins/spacing";

.site-header {
  display: flex;
  @include min-block-size(59px);
  @include block-spacing($start: 8px, $end: 7px);
  @include margin(18px, inline);
  align-items: center;

  @include mq($from: wide) {
    @include min-block-size(95px);
  }

  &.content-grid__item {
    grid-column: full;

    @include mq($from: wide) {
      grid-column: main;
      @include margin(0, inline);
    }
  }
}

.site-header__image {
  display: block;
  @include block-size(32px);

  @include mq($from: wide) {
    @include block-size(60px);
  }
}
