{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['grid grid--article-type-A']) }) -%}

<div {%- include 'atoms-attributes' %}>

    <div class="site-header-wrapper grid">
        <div class="site-header">Site header goes here</div>
    </div>

    <main class="grid grid-item-span-all main" role="main">

        <div>
            {% include 'organisms-content-header' with contentHeader only %}
        </div>

        <div class="grid-tertiary-content">
            tertiary content (view selector)
        </div>

        <div class="grid-primary-content">
            <h2>Main content</h2>
            {%- include 'atoms-text' with {nodes: content} -%}
        </div>

        <div class="grid-secondary-content">
            <h2>Secondary content</h2>
            {%- include 'atoms-text' with {nodes: sidebar} -%}
        </div>

    </main>

    <div class="end-matter grid-item-span-all">

        <div class="email-form">
            email form
        </div>

        <div class="investor-logos">
            investor logos
        </div>

    </div>

    <div>
        Site footer goes here
    </div>

</div>
