{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header']) }) %}

<div {%- include 'atoms-attributes' %}>

  {% block body %}

    {% with contentTitle only %}

      {% block title %}

        {% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header__title']) }) %}
        {% set level = 1 %}

        {% include 'atoms-heading' %}

      {% endblock %}

    {% endwith %}

  {% endblock %}

</div>
