<div class="content-header"{% include 'atoms-attributes' %}>

  <div class="content-header__body">

    {% with contentTitle only %}

      {% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header__title']) }) %}
      {% set level = 1 %}

      {% include 'atoms-heading' %}

    {% endwith %}

  </div>

</div>
