{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['paragraph']) }) -%}

{%- spaceless -%}

  <p {{- html.attributes(attributes) }}>

    {{- html.content(text) -}}

  </p>

{%- endspaceless -%}
