{%- from 'atoms-attributes' import attributes -%}
{%- from 'atoms-includes' import include -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['paragraph']) }) -%}

<p {{- attributes(attributes) }}>

  {{- include(text) -}}

</p>
