@import "../../functions/grid";
@import "../../mixins/grid";
@import "../../mixins/media-query";
@import "../../variables/grid";

.content-grid {
  --primary-column-width: #{column-width($grid-main_column_count)};

  @include base-grid($grid-max_width);
  grid-template-areas:
    ". extra-navigation ."
    ". primary          .";
  grid-template-columns: [full-start] 1fr [main-start] var(--primary-column-width) [main-end] 1fr [full-end];
  grid-column-gap: var(--column-gap);

  @include mq($from: wide) {
    $primary-columns: $grid-main_column_count - 2;
    $secondary-columns: floor(($grid-main_column_count - $primary-columns) / 2);
    $extra-navigation-columns: $grid-main_column_count - $primary-columns - $secondary-columns;
    --primary-column-width: #{column-width($primary-columns)};
    --secondary-column-width: #{column-width($secondary-columns)};
    --extra-navigation-column-width: #{column-width($extra-navigation-columns)};
    grid-template-areas:
      ". . extra-navigation . ."
      ". . primary          . .";
    grid-template-columns: [full-start] 1fr [main-start] var(--extra-navigation-column-width) var(--primary-column-width) var(--secondary-column-width) [main-end] 1fr [full-end];
  }

  @include mq($from: x-wide) {
    $primary-columns: floor($grid-main_column_count * 0.7);
    $secondary-columns: floor(($grid-main_column_count - $primary-columns) / 2);
    $extra-navigation-columns: $grid-main_column_count - $primary-columns - $secondary-columns;
    --primary-column-width: #{column-width($primary-columns)};
    --secondary-column-width: #{column-width($secondary-columns)};
    --extra-navigation-column-width: #{column-width($extra-navigation-columns)};
    grid-template-areas: ". extra-navigation primary . .";
  }
}

.content-grid--has-secondary {
  grid-template-areas:
    ". extra-navigation  ."
    ". primary           ."
    ". secondary         .";

  @include mq($from: wide) {
    $primary-columns: floor($grid-main_column_count * 0.7);
    $secondary-columns: $grid-main_column_count - $primary-columns;
    --primary-column-width: #{column-width($primary-columns)};
    --secondary-column-width: #{column-width($secondary-columns)};
    grid-template-areas:
      ". extra-navigation extra-navigation  ."
      ". primary          secondary         .";
    grid-template-columns: [full-start] 1fr [main-start] var(--primary-column-width) var(--secondary-column-width) [main-end] 1fr [full-end];
  }

  @include mq($from: x-wide) {
    $primary-columns: floor($grid-main_column_count * 0.6);
    $secondary-columns: floor($grid-main_column_count * 0.25);
    $extra-navigation-columns: $grid-main_column_count - $primary-columns - $secondary-columns;
    --primary-column-width: #{column-width($primary-columns)};
    --secondary-column-width: #{column-width($secondary-columns)};
    --extra-navigation-column-width: #{column-width($extra-navigation-columns)};
    grid-template-areas: ". extra-navigation primary secondary .";
    grid-template-columns: [full-start] 1fr [main-start] var(--extra-navigation-column-width) var(--primary-column-width) var(--secondary-column-width) [main-end] 1fr [full-end];
  }
}

.content-grid__item,
.content-grid__item--main {
  grid-column: main;
}

.content-grid__item--full {
  grid-column: full;
}

.content-grid__item--primary {
  grid-column: primary;
}

.content-grid__item--secondary {
  grid-column: secondary;
}

.content-grid__item--extra-navigation {
  grid-column: extra-navigation;
}
