@import "../../functions/grid";
@import "../../mixins/grid";
@import "../../mixins/media-query";

$columns: map_get($grid, main-column-count);

.content-grid {
  --primary-column-width: #{column-width($columns)};

  @include base-grid(#{map_get($grid, max-width)});
  grid-template-areas:
    "start-edge tertiary  end-edge"
    "start-edge primary   end-edge"
    "start-edge secondary end-edge";
  grid-template-columns: 1fr var(--primary-column-width) 1fr;
  grid-column-gap: var(--column-gap);

  @include mq($from: x-wide) {
    $primary-columns: floor($columns * 0.7);
    $secondary-columns: floor(($columns - $primary-columns) / 2);
    $tertiary-columns: $columns - $primary-columns - $secondary-columns;
    --primary-column-width: #{column-width($primary-columns)};
    --secondary-column-width: #{column-width($secondary-columns)};
    --tertiary-column-width: #{column-width($tertiary-columns)};
    grid-template-areas: "start-edge tertiary primary secondary end-edge";
    grid-template-columns: 1fr var(--tertiary-column-width) var(--primary-column-width) var(--secondary-column-width) 1fr;
  }
}

.content-grid--has-secondary {
  @include mq($from: medium, $until: x-wide) {
    $primary-columns: floor($columns * 0.7);
    $secondary-columns: $columns - $primary-columns;
    --primary-column-width: #{column-width($primary-columns)};
    --secondary-column-width: #{column-width($secondary-columns)};
    grid-template-areas:
      "start-edge tertiary tertiary  end-edge"
      "start-edge primary  secondary end-edge";
    grid-template-columns: 1fr var(--primary-column-width) var(--secondary-column-width) 1fr;
  }

  @include mq($from: x-wide) {
    $primary-columns: floor($columns * 0.6);
    $secondary-columns: floor($columns * 0.25);
    $tertiary-columns: $columns - $primary-columns - $secondary-columns;
    --primary-column-width: #{column-width($primary-columns)};
    --secondary-column-width: #{column-width($secondary-columns)};
    --tertiary-column-width: #{column-width($tertiary-columns)};
  }
}

.content-grid__primary {
  grid-column: primary;
}

.content-grid__secondary {
  grid-column: secondary;
}

.content-grid__tertiary {
  grid-column: tertiary;
}
