@import "../../mixins/decorations";

.page-grid {
  display: grid;
  grid-template-areas: "start-edge main end-edge";
  grid-template-columns: [full-start] 1fr var(--main-width) 1fr [full-end];
  grid-column-gap: var(--column-gap);
  grid-column: full;
}

.page-grid__item {
  grid-column: full;
}

.page-grid__item--has-keyline-start {
  @include divider(block-start);
}

.page-grid__item--has-keyline-end {
  @include divider(block-end);
}
