@import "../../mixins/decorations";
@import "../../mixins/grid";
@import "../../variables/grid";

.page-grid {
  @include base-grid($grid-max_width);
  grid-template-areas:
    "start"
    "main"
    "end";
}

.page-grid__item--start {
  @include divider(block-end);
  grid-row: start;
}

.page-grid__item--main {
  grid-row: main;
}

.page-grid__item--end {
  @include divider(block-start);
  grid-row: end;
}
