.single-column-grid {
  display: grid;
  grid-template-areas: "start-edge main end-edge";
  grid-template-columns: [full-start] 1fr var(--main-width) 1fr [full-end];
  grid-column-gap: var(--column-gap);
  grid-column: full;
}

.single-column-grid__item {
  grid-column: main;
}

.single-column-grid__item--full {
  grid-column: full;
}
