@import "../../mixins/decorations";
@import "../../mixins/positioning";
@import "../../mixins/spacing";
@import "../../mixins/typography";
@import "../../settings/baselinegrid";
@import "../../settings/color";

.contextual-data {
  @include block-spacing($end: $baselinegrid-space-medium);
  @include border(block-end);
  @include padding($baselinegrid-space-extra_small, block);
  @include text-align(center);
  font-family: $font-secondary;

  @include mq($from: wide) {
    @include text-align(end);
  }
}

.contextual-data__doi {
  @include covert-link() {
    @include set-font-size-and-line-height(scale(-3));
    border: 0;
    color: $color-text-secondary;
  }
}
