@import "../../mixins/labels";
@import "../../mixins/lists";
@import "../../mixins/spacing";

$content-meta-block-spacing: $baseline-unit-small !default;
$content-meta-covert-link: true !default;
$content-meta-separator: "\2022" !default;

.content-meta {
  @include list-style-none();
  @include block-spacing($end: $content-meta-block-spacing);
}

.content-meta__item {
  display: inline-block;
  @include label-content-typography();

  &:after {
    content: "\a0#{$content-meta-separator}\a0";
  }

  &:last-child:after {
    content: "";
  }
}

@if $content-meta-covert-link == true {
  .content-meta__link {
    @include covert-link();
  }
}
