@import "../../mixins/positioning";
@import "../../mixins/spacing";
@import "../../settings/baselinegrid";

.contextual-data {
  @include block-spacing($end: $baselinegrid-space-medium);
  @include border(block-end);
  @include padding($baselinegrid-space-extra_small, block);

  @supports (display: flex) {
    @include text-align(center);
    @include mq($from: wide) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .contextual-data__doi {
    @include doi();
    @include text-align(center);
    color: $color-text-secondary;
    align-self: center;

    @include mq($from: wide) {
      @include text-align(end);
      align-self: flex-end;
    }
  }
}
