
@import "../../mixins/decorations";
@import "../../mixins/scale";
@import "../../mixins/spacing";
@import "../../mixins/typography";
@import "../../patterns/atoms/image";
@import "../../settings/baselinegrid";
@import "../../settings/breakpoint";
@import "../../settings/color";
@import "../../settings/font";
@import "../../vendor/sass-mq/_mq";

.figure {
  @include block-spacing($start: 0, $end: $baselinegrid-space-medium);
}

.figure__header-panel {
  @include block-spacing($start: $baselinegrid-space-medium, $end: $baselinegrid-space-extra_small);
  display: grid;
  grid-template-columns: 50% 50%;
}

.figure__header-text {
  @include set-font-size-and-line-height(scale(-1));
  font-family: $font-secondary;
  font-weight: bold;
}

.figure__header-access {
  text-align: end;
}

.figure__header-access_open-link {
  @include header_button();
  border: 1px solid $color-text-dividers;
  background: url("../../../images/launch.png") 50% 50% no-repeat;
  background: url("../../../images/launch.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  margin-inline-end: -1px;
  float: right; // stylelint-disable-line csstools/use-logical
  &:hover {
    background: url("../../../images/launch-hover.png") 50% 50% no-repeat;
    background: url("../../../images/launch-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  }

  @supports (float: inline-end) {
    float: inline-end;
  }
}

.figure__heading {
  @include block-spacing($end: 0);
  @include caption-typography();
}

.figure__caption {
  @include caption-typography();
  @include margin($image-inline-spacing, inline);

  @include mq($from: medium) {
    @include margin(0, inline);
  }
}

.figure__asset {
  @include block-spacing($end: $baselinegrid-space-extra_small);
}
