@import "../../variables/color";
@import "../../variables/font";
@import "../../mixins/positioning";
@import "../../mixins/spacing";
@import "../../mixins/typography";

$_info-bar-gutter: 8px;
$_info-bar-image-offset: $font-size;
$_info-bar-image-fudge-factor: #{$font-size / 4};
$_info-bars: (
  (type: attention, background-color: $color-attention),
  (type: info, background-color: $color-information),
  (type: success, background-color: $color-success),
  (type: warning, background-color: $color-warning),
);

.info-bar {
  color: $color-text-reverse;
  font-family: $font-secondary;
  font-weight: 600;
  @include set-font-size-and-line-height(scale(-1));
  @include padding($baselinegrid-space-extra_small $_info-bar-gutter);
  text-align: center;
  position: relative;

  @supports (display: flex) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

@each $info-bar in $_info-bars {
  .info-bar--#{map-get($info-bar, type)} {
    background-color: map_get($info-bar, background-color) or $color-information;
  }
}

.info-bar__image {
  @include margin(0 $_info-bar-image-offset, inline);
  @include inset($_info-bar-image-fudge-factor, block-start);
  @include max-block-size($baselinegrid-space-medium);
  position: relative;

  @supports (display: flex) {
    position: static;
  }
}
