@import "../../mixins/typography";

.inline-list {
  @include list-style-none();
  overflow-y: hidden;
}

.inline-list--small {
  @include set-font-size-and-line-height(scale(-1));
}

.inline-list__item {
  display: inline-block;
  font-family: $font-secondary;

  .inline-list & {
    @include comma-separator();
  }

  .inline-list--alternative-separators & {
    &:after {
      content: ";\a0";
    }
  }

}

.inline-list__link {
  @include covert-link();
}
