@import "../../mixins/spacing";
@import "../../mixins/typography";
@import "../../settings/color";
@import "../../settings/font";

.reference__heading {
  @include nospace();
  @include set-font-size-and-line-height(scale(0));
  display: block;
}

.reference__authors_list {
  @include nospace();
  display: inline;
  font-family: $font-secondary;
}

.reference__author {
  @include nospace();
  @include set-font-size-and-line-height(scale(-1));
  display: inline;
}

.reference__details {
  @include nospace();
  @include set-font-size-and-line-height(scale(-1));
  font-style: italic;
}

.reference__doi {
  @include covert-link();
}

// Duplicate selector required due to how covert-link implements inheritance
.reference__doi {
  @include set-font-size-and-line-height(scale(-3));
}
