@import "../../mixins/sizes";
@import "../../mixins/spacing";
@import "../../mixins/typography";
@import "../../variables/baselinegrid";
@import "../../variables/contentHeader";
@import "../../variables/grid";

.tag-list {
  @include block-spacing();

  .content-header & {
    display: flex;
    justify-content: space-around;
  }

}

.tag-list__title {
  @include label-content-typography();
  @include block-spacing($end: 0);
}

.tag-list__list {
  @include list-style-none();
  @include label-tag-typography();
  @include margin(0, block-end);
}

.tag-list__list--single-line {
  @include truncate-with-ellipsis();

  --inline-size: calc(100vw - (2 * (var(--GRID-EDGE-SPACE) + #{$contentHeader-downloadIcon-inline_size__default})));
  @include inline-size(calc(100vw - (2 * (#{$grid-edge_space-medium} + #{$contentHeader-downloadIcon-inline_size__default}))));
  @include mq($from: medium) {
    --inline-size: calc(100vw - (2 * (var(--GRID-EDGE-SPACE) + #{$contentHeader-downloadIcon-inline_size__medium})));
    @include inline-size(calc(100vw - (2 * (#{$grid-edge_space-large} + #{$contentHeader-downloadIcon-inline_size__medium}))));
  }

  @supports (--name: value) {
    @include inline-size(var(--inline-size));
  }

}

.tag-list__item {
  @include label-tag-typography();
  display: inline-block;

  .tag-list__list--single-line & {
    display: inline;
  }

  &:after {
    display: inline;
    content: ",\a0";
  }

  &:lang(ar):after {
    content: "،\a0";
  }

  &:lang(ja):after {
    content: "、";
  }

  &:last-child:after {
    content: "";
  }
}

.tag-list__link {
  @include covert-link();
}
