@import "variables/color";
@import "mixins/decorations";
@import "mixins/grid";
@import "mixins/spacing";

// Used for research articles
.grid.grid--article-type-A,
.grid--article-type-A .grid {

  @include grid-setup-article-type-A(
    map_get($grid, edge-colum-count),
    map_get($grid, column-gap),
    map_get($grid, max-width)
  );

  & > .grid-primary-content {
    grid-column: primary;
  }

  & > .grid-secondary-content {
    grid-column: secondary;
  }

  & > .grid-tertiary-content {
    grid-column: tertiary;
  }

}

//.grid--article-type-B {
//
//  & > * {
//
//    @include mq($from: wide) {
//      grid-column: 3 / -3;
//    }
//
//  }
//
//  & > * {
//
//    @include mq($from: x-wide) {
//      grid-column: 4 / -4;
//    }
//
//  }
//
//}

.grid-item-span-full {
  @include grid-span-full();
}

.grid-item-span-main {
  @include grid-span-main();
}

.page-grid {

  // TODO: change the name of this mixin?
  @include grid-setup-base(
    map_get($grid, edge-colum-count),
    map_get($grid, column-gap),
    map_get($grid, max-width)
  );

}

.page-grid-item {

  @include grid-setup-base(
    map_get($grid, edge-colum-count),
    map_get($grid, column-gap),
    map_get($grid, max-width)
  );

  @include grid-span-full();

  & > * {
    @include grid-span-main();
  }

  & > .grid-item-span-full {
    @include grid-span-full();
  }

  &.page-grid-item--has-keyline-start {
    @include divider(block-start);
  }

  &.page-grid-item--has-keyline-end {
    @include divider(block-end);
  }

}

.grid-research-article {
  @include grid-setup-research-article(
    map_get($grid, edge-colum-count),
    map_get($grid, column-gap),
    map_get($grid, max-width)
  );

  @include grid-span-full();

  & > .grid-primary-content {
    grid-column: primary;
  }

  & > .grid-secondary-content {
    grid-column: secondary;
  }

  & > .grid-tertiary-content {
    grid-column: tertiary;
  }

}

.specific-1 {
  @include divider(block-start);
  @include divider(block-end);
  @include grid-span-full();
  justify-content: center;
  text-align: center;
}

.specific-2 {
  @include divider(block-end);
  @include grid-span-full();
  justify-content: center;
  text-align: center;
}
