@import "variables/color";
@import "mixins/grid";
@import "mixins/spacing";

// Used for research articles
.grid.grid--article-type-A,
.grid--article-type-A .grid {

  @include grid-setup-article-type-A(
    map_get($grid, edge-colum-count),
    map_get($grid, column-gap),
    map_get($grid, max-width)
  );

  & > .grid-tertiary-content {

    @include mq($from: x-wide) {
      grid-column: main / span 2;
    }

  }

  & > .grid-primary-content {

    @include mq($from: wide) {
      grid-column: main / span 8;
    }

    @include mq($from: x-wide) {
      grid-column: primary-start-x-wide / span 7;
    }

  }

  & > .grid-secondary-content {

    @include mq($from: wide) {
      grid-column: secondary-start-wide / span 4;
    }

    @include mq($from: x-wide) {
      grid-column: secondary-start-x-wide / span 3;
    }

  }
}

.grid--article-type-B {

  & > * {

    @include mq($from: wide) {
      grid-column: 3 / -3;
    }

  }

  & > * {

    @include mq($from: x-wide) {
      grid-column: 4 / -4;
    }

  }

}
