{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-tags']) }) %}

<div {%- include('atoms-attributes') %}>

  {% for group in groups %}

    {% with group only %}

      <section class="item-tags__group">

        {% with title only %}

          {% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-tags__group_title']) }) %}
          {% include 'atoms-heading' with {level: 4} %}

        {% endwith %}

        <ul class="item-tags__link_list">

          {% for item in items %}

            <li class="item-tags__link_list_item">

              {% with item only %}
                {% include 'atoms-link' %}
              {% endwith %}

            </li>

          {% endfor %}

        </ul>

      </section>

    {% endwith %}

  {% endfor %}

</div>
