@import "../vendor/modularscale-sass/stylesheets/modularscale/vars";

$scale-base: 16px !default;
$scale-ratio: $major-second !default;

//----------------------------------------------------------------------------------------------------------------------
// Baseline grid lines height.
//
// Every spacing metric should be based on this.

$baseline-factor: 1.5 !default; // 24px

$baseline-unit: $scale-base * $baseline-factor !default;

//----------------------------------------------------------------------------------------------------------------------
// How many grid lines should our spacing unit variants span?
//
// Each value is a unit-less number.

$baseline-factor-extra-small: 0.5 !default; // 12px
$baseline-factor-small: 1 !default; // 24px
$baseline-factor-smallish: 1.5 !default; // 36px
$baseline-factor-medium: 2 !default; // 48px
$baseline-factor-large: 3 !default; // 72px
$baseline-factor-extra-large: 5 !default; // 120px

//----------------------------------------------------------------------------------------------------------------------
// Spacing values are determined based on your project’s global baseline grid.
//
// It is not recommended that you modify these following variables
// (it can break your vertical rhythm), but if you need to, you can.

$baseline-unit-extra-small: $baseline-unit * $baseline-factor-extra-small !default;
$baseline-unit-small: $baseline-unit * $baseline-factor-small !default;
$baseline-unit-smallish: $baseline-unit * $baseline-factor-smallish !default;
$baseline-unit-medium: $baseline-unit * $baseline-factor-medium !default;
$baseline-unit-large: $baseline-unit * $baseline-factor-large !default;
$baseline-unit-extra-large: $baseline-unit * $baseline-factor-extra-large !default;
