$font-letterspacing-label: 0.5px;
$font-primary: "Noto Serif", serif;
$font-secondary: "Noto Sans", Arial, Helvetica, sans-serif;
$font-monospace: "Courier 10 Pitch", Courier, monospace;
$font-size: 16px;
