$grid-edge-space-medium: 7vw !default;
$grid-edge-space-large: 14vw !default;
$grid-min-width: 320px !default;
$grid-max-width: 1114px !default;
$grid-main-column-count: 12 !default;
$grid-column-gap: 1.6% !default;

$breakpoint-small: 480px !default;
$breakpoint-medium: 730px !default;
$breakpoint-wide: 900px !default;
$breakpoint-extra-wide: 1200px !default;
